export(py.init, py.get, py.set, py.eval, py.import, py.call, py.exception, as.pyref, py.last.exception, py.rcaps, py.attr, py.load)
S3method(as.character, pyref)
S3method(print, pyref)
S3method(as.pyref, pyref)
S3method(`$`, pyref)
S3method(`$<-`, pyref)
